@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full max-w-[1536px] mx-auto transition-colors duration-300
      bg-white text-gray-800
      dark:bg-gray-900 dark:text-gray-100;
  }

  h1 {
    @apply text-3xl md:text-5xl lg:text-6xl font-bold;
  }

  p {
    @apply text-base md:text-lg;
  }

  /* Common pointer/caret settings */
  *, html, body {
    cursor: default;
    caret-color: transparent;
  }

  a, button, [role="button"], input[type="submit"], input[type="button"] {
    cursor: pointer;
  }

  input,
  textarea {
    caret-color: auto;
  }
}